#country-details {
  display: flex;
  justify-content: center;
  padding: 3rem 0 14.5rem;
  column-gap: 5rem;
}

#back-button {
  padding: 6rem;
}

#back-button img {
  position: absolute;
  left: 7rem;
  height: 1.3rem;
  width: 1.3rem;
}

#back-button a {
  text-decoration: none;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 2px 2px rgb(44, 53, 60);
}

.light-back-button a {
  background-color: #fafafa;
  color: black;
}

.dark-back-button a {
  background-color: #2b3743;
}

.img-container img {
  height: 22rem;
  width: 30rem;
}

.country-info {
  display: flex;
  column-gap: 2rem;
  line-height: 1.7;
}

.country-info h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.country-info p {
  font-size: 1.2rem;
}

.country-inner-info1 {
  padding-bottom: 3rem;
}

.country-inner-info2 {
  padding-top: 4rem;
}

#border {
  position: absolute;
  top: 40rem;
  font-size: 1.2rem;
  height: 18rem;
  width: 40rem;
}

#border button {
  border: 0;
  border-radius: 0.1rem;
  height: 1.5rem;
  width: 3rem;
  margin: 0.5rem 0.5rem;
}

.light-border button {
  color: black;
  background-color: white;
  box-shadow: 0 0 2px 2px rgb(195, 193, 193);
}

.dark-border button {
  background-color: #2b3743;
  color: white;
  box-shadow: 0 0 2px 2px rgb(58, 67, 74);
}

.dark-country-details {
  color: white;
}

@media all and (max-width: 425px) {
  article {
    padding-bottom: 15rem;
  }

  #country-details {
    flex-direction: column;
    padding: 1rem;
  }

  .country-info {
    flex-direction: column;
  }

  .country-info h2 {
    font-size: 1.5rem;
  }

  .country-info p {
    font-size: 0.9rem;
  }

  .country-inner-info1 {
    padding: 0;
  }

  .country-inner-info2 {
    padding-top: 1rem;
  }

  .img-container img {
    height: 13rem;
    width: 18rem;
  }

  #border {
    font-size: 0.9rem;
    top: 42rem;
    height: fit-content;
    width: 18rem;
  }

  #border button {
    font-size: 0.7rem;
  }

  #back-button {
    padding: 2rem;
  }

  #back-button img {
    left: 3rem;
  }
}
