@import url("https://fonts.googleapis.com/css?family=Nunito Sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4.5rem;
}

.dark-header {
  background-color: #2b3743;
  color: white;
}

.light-header {
  background-color: white;
  color: black;
}

header p {
  font-size: 1.2rem;
}

.dark-grid {
  background-color: rgb(33, 46, 55);
}

.light-grid {
  background-color: rgb(250, 250, 250);
}

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3rem 5rem;
}

img {
  height: 11rem;
  width: 17rem;
}

.mode {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 0 5rem 4rem;
}

#country-container {
  border: 0 solid;
  width: 17rem;
  height: 27rem;
}

#country-container a {
  text-decoration: none;
}

.country-details h3,
a {
  text-decoration: none;
}

.light-country-container {
  background-color: white;
  color: black;
}

.light-country-container h3,
a {
  color: black;
}

.dark-country-container {
  background-color: #2b3743;
  color: white;
}

.dark-country-container h3,
a {
  color: white;
}

.country-details {
  padding: 1rem;
  line-height: 1.7;
}

.country-details h3 {
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.country-details p {
  font-size: 1rem;
}

.empty-message,
.error-message {
  width: 100vw;
  height: 70vh;
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

/* footer {
    text-align: center;
    padding: 2rem;
    color: white;
    background-color: #2B3743;
    font-size: 1.5rem;
} */

/* Mobile */

@media all and (max-width: 425px) {
  .main-container {
    flex-flow: nowrap column;
    align-items: center;
  }

  .components {
    padding: 1rem;
  }

  #header {
    padding: 1rem;
    justify-content: space-between;
  }

  #header h2{
    font-size: 1rem;
  }

  .icon {
    height: 1rem;
    width: 1rem;
  }

  .mode p{
    font-size: 1rem;
  }
}

@media all and (max-width: 1024px) {
  #country-container {
    width: 16rem;
  }
  img {
    width: 16rem;
  }
}
