* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  column-gap: 1rem;
  font-size: 1.2rem;
}

select {
  outline-style: none;
  border: 0 solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

.region-name {
  cursor: pointer;
}

select option[value="filter-region"] {
  display: none;
}

@media all and (max-width: 425px) {
  .filter-container {
    flex-direction: column;
    row-gap: 1rem;
  }

  .filter,
  .filter-sub-region {
    width: fit-content;
  }
}
