.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fading {
  0%,
  100% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.85;
  }
}

.loading {
  border: 7px solid transparent;
  box-shadow: 1px 1px, 2px 0 2px grey;
  color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: loading 700ms infinite linear;
}

.loading-text {
    color: grey;
    font-size: 1.5rem;
    animation: fading 1s infinite;
    padding-top: 1rem;
}