.search-container {
  font-size: 1.2rem;
  position: relative;
}

#search-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.dark-search-icon {
  filter: brightness(0) invert();
}

.search input {
  outline-style: none;
  width: 25rem;
  border: 0 solid;
  border-radius: 0.5rem;
  padding: 1rem 3.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.light-input {
  background-color: white;
}

.dark-input {
  background-color: #2B3743;
  color: white;
}

.dark-input::placeholder {
  color: #c7c7c7;
}


@media all and (max-width:425px) {
  .search input {
    width: 18rem;
  }
}