.sort-container {
  display: flex;
  column-gap: 1rem;
  font-size: 1.2rem;
}

select {
  outline-style: none;
  width: 12rem;
  border: 0 solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  cursor: pointer;
}

.light-select {
  background-color: white;
}

.dark-select {
  background-color: #2B3743;
  color: white;
}


@media all and (max-width:425px) {
.sort-container {
  flex-direction: column;
  row-gap: 1rem;
}
}